// Fonts
@import "../library/fonts/font.css";

// Configuration
@import "~bootstrap/scss/functions";
@import "./variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";

// Layout & components
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/containers";
@import "~bootstrap/scss/grid";
// @import "~bootstrap/scss/tables";
// @import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/dropdown";
// @import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/card";
// @import "~bootstrap/scss/accordion";
// @import "~bootstrap/scss/breadcrumb";
@import "~bootstrap/scss/pagination";
@import "~bootstrap/scss/badge";
// @import "~bootstrap/scss/alert";
@import "~bootstrap/scss/progress";
@import "~bootstrap/scss/list-group";
// @import "~bootstrap/scss/close";
// @import "~bootstrap/scss/toasts";
// @import "~bootstrap/scss/modal";
// @import "~bootstrap/scss/tooltip";
// @import "~bootstrap/scss/popover";
// @import "~bootstrap/scss/carousel";
// @import "~bootstrap/scss/spinners";
// @import "~bootstrap/scss/offcanvas";

// Helpers
@import "~bootstrap/scss/helpers";

// Utilities
@import "~bootstrap/scss/utilities/api";



img {
  height: auto;
}

.updated:not(.published) {
  display: none;
}

.post {
  &.card {
    .card-body {
      color: $gray-600;
      height: 150px;
    }
  }
}

.btn-round {
  border-radius: 15px;
}

.footer {
  bottom: 0;
  width: 100%;
  background-color: #efece7;
}

// Navigation 

.nav-trigger {
  position: relative;
  top: 15px;
  left: 15px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 200;
  border-radius: 19px;
  transition: background-color 0.5s ease;

  &.open {
    background-color: $primary; 
    background-color: rgba($primary, 0.9); 
  }

  &.close {
    background: transparent;

    .line {
      &:nth-child(1) {
        transform: rotate(45deg) translate(6px, 6px);
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -6px);
      }
    }
  }
} 

.line {
  display: block;
  position: absolute;
  width: 22px;
  height: 2px;
  background: $white;
  left: 9px;
  transition-duration: .4s;
}

@for $i from 1 through 3 {
  .line:nth-child(#{$i}) {
    top: 11px + (($i)-1)*8;
  }
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed; 
  z-index: 1;
  left: 0;
  top: 0;
  background-color: $primary; 
  background-color: rgba($primary, 0.9); 
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */

  &.show {
    width: 100%;
  }

  .nav {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
  }

  a {
    padding: 8px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 30px;
    color: $gray-400;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */

    &:hover, &:focus {
      color: $white;
    }
  }
}


/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay {
    a {
      font-size: 20px
    }
  }
}
